/* .loginLeft{
    background-color: rgb(231, 88, 112);
}


.logged{
    display: flex;
    padding-top: 5rem;
    justify-content: center;
}

.mainlogin{
    align-items: center;
    gap: 2rem;
    display: flex;
    justify-content: center;
}





 */



/* +++++++++++++++++  Register css ++++++++++++++ */



/* Register.css */




.registerPage{
    display: flex;
    padding-top: 10% ;
    
    justify-content: center;
    align-items: center;
}

.registerLeft{
    padding: 4.5rem 2rem;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    background-color: rgb(226, 120, 138);
    /* border: 2px solid green; */
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    
  }
  
  .img_register{
    width: 10rem;
    /* border: 2px solid red; */

}



.registerRight{
  width: 35rem;
  box-shadow: 0px 0px 10px -2px black;
  padding: 0.25rem;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
}

.registerForm{
  padding: 1rem;

}



.registerInput{

    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    /* border: 2px solid red; */

}
.regBtnCnt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_reg{
    
    width: 40%;
    margin: auto;
    background-color: rgb(193, 85, 121);
    color: white;
    font-weight: 700;
}

.btn_reg:hover{
    

  background-color: rgb(135, 55, 82);
  color: white;
}


.img_login{
    width: 20rem;
}


/* .logged{
    display: flex;
    padding-top: 5rem;
    justify-content: center;
} */


.mainlogin{
    
    /* gap: 2rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;

}

 .loginLeft{
    padding: 1rem 1rem;
    background-color: rgb(226, 120, 138);
    /* box-shadow: 0px 0px 10px -2px black; */
}

.loginForm{
    box-shadow: 0px 0px 10px -2px black;
    padding: 4.2rem 2rem;
   width: 20rem;
}

.btn_log{
    width: 100%;
    background-color: rgb(193, 85, 121);
    color: white;
    font-weight: 700;
 }
 
 .btn_log:hover{
     background-color: palevioletred;
     color: white;
 }


 @media screen and (max-width:1024px) {

  .registerLeft{
      display: none;
     
  }
  
.registerRight{
 

  border-radius: 1%;
}
   
}

 
@media screen and (max-width:700px) {

    .registerLeft{
        display: none;
       
    }
    .registerRigth{
        border: 1px solid green;
        width: 80%;
        padding-top: 0;
    }

    
.registerInput{
   
    display: block;
   
    /* width: 50%; */
}
    
    .loginLeft{
        display: none;
    }
    .loginForm{
       
       width: 25rem;
    }
}